body {
    width: 1366px;
    height: 768px;
    font-family: 'Montserrat', sans-serif;
}

div#branco {
    position: absolute;
    width: 500px;
    height: 596px;
    margin-top: 86px;
    margin-left: 183px;
    background: #FFFFFF;
    box-shadow: 4px 4px 14px 6px rgba(0, 0, 0, 0.1);
    border-radius: 12px 0px 0px 12px;
}

div#azul {
    position: absolute;
    width: 500px;
    height: 596px;
    margin-left: 683px;
    margin-top: 86px;
    background: #6C63FF;
    border-radius: 0px 12px 12px 0px;
}

img#logo {
    position: relative;
    margin-top: 72px;
    margin-left: 72px;
    width: 144px;
    height: 54px;
}

img#chapeu {
    position: relative;
    margin-left: 72px;
    margin-bottom: 72px;
}

h1#qualidade {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    width: 251px;
    height: 56px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    margin-left: 72px;
    margin-top: 20px;
    letter-spacing: 0.02em;
    color: #4F4F4F;
}

h1#lets {
    position: relative;
    width: 295px;
    height: 56px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-top: 126px;
    margin-left: 72px;
}

img#um {
    position: relative;
    margin-left: 72px;
    margin-top: 64px;
}

img#local {
    position: relative;
    margin-left: 72px;
    margin-top: 26px;
}

h2 {
    position: absolute;
    width: 258px;
    height: 28px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 0.02em;
    color: #F2F2F2;
    margin-left: 104px;
    margin-top: -20px;
}

input {
    position: relative;
    width: 356px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 14px;
    margin-left: 72px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.02em;
}

button#next {
    position: relative;
    width: 356px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #CDCAFF;
    box-sizing: border-box;
    border-radius: 8px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #524AB3;
    margin-left: 72px;
    margin-top: 32px;
}

button#next:hover {
    background: #524AB2;
    color: #FFFFFF;
}



/*  ----------------------------------------- tipo-comida ----------------------------------------------------------------- tipo-comida */

img#ok {
    position: absolute;
    clear: both;
    margin-top: 208px;
    margin-left: -144px;    
}

img#set {
    position: absolute;
    clear: both;
    margin-top: 220px;
    margin-left: -90px;    
}

img#dois {
    position: absolute;
    clear: both;
    margin-top: 284px;
    margin-left: 72px;    
}

h3#eat {
    position: absolute;
    width: 274px;
    height: 28px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #4F4F4F;
    clear: both;
    margin-top: 80px;
    margin-left: 152px;
}

img#edit {
    position: absolute;
    clear: both;
    margin-top: 238px;
    margin-left: -62px;
}

img#dois {
    position: absolute;
    clear: both;
    margin-left: -144px;
    margin-top: 284px;
}

img#fork {
    position: absolute;
    margin-top: 296px;
    margin-left: -90px;
}

h3#what {
    position: absolute;
    width: 299px;
    height: 28px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    /*letter-spacing: 0.02em;*/
    color: #4F4F4F;
    margin-top: 164px;
    margin-left: 152px;
}

img#tres {
    position: absolute;
    margin-top: 360px;
    margin-left: -144px;
}

img#hat {
    position: absolute;
    margin-top: 372px;
    margin-left: -90px;
}

h3#choose {
    position: absolute;
    width: 162px;
    height: 28px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #4F4F4F;
    margin-top: 240px;
    margin-left: 152px;
}

button#prev {
    position: absolute;
    margin-top: 480px;
    margin-left: -144px;
    width: 260px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #CDCAFF;
    box-sizing: border-box;
    border-radius: 8px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #524AB3;
}

button#prev:hover {
    background: #524AB2;
    color: #FFFFFF;
}

/* ----------------------------------------- diva azul ---------------------------------------- */

div#scroll {
    width:366px;
    height:370px;
    overflow:scroll;
    overflow-y:scroll;
    overflow-x:hidden;
    position: relative;
    margin-top: 72px;
    margin-left: 76px;
}

/* width */
div#scroll::-webkit-scrollbar {
    width: 8px;
}
  
/* Track */
div#scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0 #4137C1;
    border-radius: 8px;
}
   
/* Handle */
div#scroll::-webkit-scrollbar-thumb {
    background: #4137C1; 
    border-radius: 8px; 
}
  
/* Handle on hover */
div#scroll::-webkit-scrollbar-thumb:hover {
    background: #4137C1; 
}


button#next-dois {
    position: absolute;
    margin-top: 32px;
    margin-left: 168px;
    width: 260px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #CDCAFF;
    box-sizing: border-box;
    border-radius: 8px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #524AB3;
}

button#next-dois:hover {
    background: #524AB2;
    color: #FFFFFF;
}

div.inside {
    position: relative;
    width: 106px;
    height: 92px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 8px;
    display: inline-block;
    margin-left: 4px;
    margin-bottom: 4px;
}

.inside img {
    position: absolute;
    padding-top: 20px;
    padding-left: 39px;
}

.inside p {
    position: absolute;
    height: 24px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #828282;
    padding-top: 36px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  
}
